{% extends "base.html" %}
{% block content %}

<h2 class="text-center mt-5">Your Buy List</h2>

{% if buylist and buylist|length > 0 %}

<div class="text-center mt-4">

    {% for stock in buylist %}
        <button class="btn btn-success btn-lg m-2"
                onclick="showBrokers('{{ stock }}')">
            {{ stock.split('.')[0] }}
        </button>
    {% endfor %}

</div>

<!-- Broker Section -->
<div id="brokerSection" class="text-center mt-5" style="display:none;">

    <h4 id="selectedStockTitle"></h4>

    <div class="mt-3">
        <a id="growwLink" class="btn btn-success btn-lg m-2">Groww</a>
        <a id="zerodhaLink" class="btn btn-warning btn-lg m-2">Zerodha</a>
        <a id="upstoxLink" class="btn btn-primary btn-lg m-2">Upstox</a>
    </div>

</div>

{% else %}

<p class="text-center mt-5">No stocks added yet.</p>

{% endif %}

<script>
function showBrokers(stock) {

    document.getElementById("brokerSection").style.display = "block";

    let cleanName = stock.split('.')[0];

    document.getElementById("selectedStockTitle").innerText =
        "Trade " + cleanName + " On";

    document.getElementById("growwLink").href = "/go/groww/" + stock;
    document.getElementById("zerodhaLink").href = "/go/zerodha/" + stock;
    document.getElementById("upstoxLink").href = "/go/upstox/" + stock;
}
</script>

{% endblock %}