{% extends "base.html" %}

{% block content %}

<div style="display:flex; justify-content:center; align-items:center; height:80vh;">

    <div style="background:#1e293b; padding:40px; border-radius:10px; width:350px;">

        <h2 style="text-align:center; margin-bottom:25px;">Login</h2>

        <form method="POST">

            <input type="text" name="username" placeholder="Username"
                   style="width:100%; padding:10px; margin-bottom:15px; border-radius:5px; border:none;">

            <input type="password" name="password" placeholder="Password"
                   style="width:100%; padding:10px; margin-bottom:20px; border-radius:5px; border:none;">

            <button type="submit"
                    style="width:100%; padding:10px; background:#2563eb; color:white; border:none; border-radius:5px;">
                Login
            </button>

        </form>

        <p style="text-align:center; margin-top:15px;">
            Don't have account?
            <a href="/signup" style="color:#38bdf8;">Signup</a>
        </p>

    </div>

</div>

{% endblock %}