{% extends "base.html" %}
{% block content %}

<h1 class="text-center mt-5">Your Watchlist</h1>

{% if watchlist and watchlist|length > 0 %}

<div class="d-flex justify-content-center gap-4 mt-4 flex-wrap">

    {% for stock in watchlist %}
    <div class="card bg-dark text-white p-4 shadow" style="min-width:200px; text-align:center;">
        
        <h4>{{ stock.split('.')[0] }}</h4>

        <form method="POST" action="/analyze" class="mt-3">
            <input type="hidden" name="stock" value="{{ stock }}">
            <button class="btn btn-primary w-100">Analyze</button>
        </form>

    </div>
    {% endfor %}

</div>

{% else %}

<div class="text-center mt-5">
    <h4>No stocks added to Watchlist yet.</h4>
    <p class="text-muted">Go to Analyze page and add stocks to your watchlist.</p>

    <a href="/analyze" class="btn btn-success mt-3">
        Go to Analyze
    </a>
</div>

{% endif %}

{% endblock %}